{% extends "base.html" %} {% block content %}
<div class="alert alert-primary" role="alert">Please fill all the fiels</div>


{% for field, errors in form.errors.items() %}
<small class="col-md-10 form-text text-danger mb-1"> {{ ', '.join(errors) }} </small>
{% endfor %} 


<form class="form-horizontal mb-5" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
  <div class="form-group">
    {{form.title.label(class="control-label col-md-2")}}
    <div class="col-md-6 col-sm-10">{{form.title(class="form-control", placeholder="Title")}}</div>
  </div>

  <div class="form-group">
    {{form.author.label(class="control-label col-md-2")}}
    <div class="col-md-6 col-sm-10">{{form.author(class="form-control", placeholder="Author")}}</div>
  </div>

  <div class="form-group">
    {{form.body.label(class="control-label col-md-2")}}
    <div class="col-md-6 col-sm-10">{{form.body(class="form-control", placeholder="Body")}}</div>
  </div>

  <div class="form-group">
    {{form.image.label(class="control-label col-md-2")}}
    <div class="col-md-6 col-sm-10">{{form.image(class="form-control")}}</div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-sm-10">
      {{form.submit(class="btn btn-outline-primary btn-lg")}}
    </div>
  </div>
</form>
{% endblock %}
